python-dotenv
langdetect
mysql-connector-python
requests
twilio
pytz
cryptography
email-validator
fastapi
uvicorn
apscheduler
pyttsx3
sounddevice
speechrecognition
scipy
numpy
reportlab
pyaudio
python-multipart
watchdog